*{

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    border-inline: 1px solid black;
}

td{
    width: 100px;
}