<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <!--hibernate-configuration必备子标签-->
    <!--用于设置链接数据库所需的驱动-->
    <session-factory>
        <!--设置驱动-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <!--设置数据库连接地址-->
        <property name="hibernate.connection.url">jdbc:mysql://101.33.210.228:3306/struts</property>
        <!--设置数据库用户名-->
        <property name="hibernate.connection.username">struts</property>
        <!--设置数据库密码-->
        <property name="hibernate.connection.password">eYLPs3H7z3ZpPnZN</property>
        <!--设置数据库类型-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!--加载连接所用的jar文件-->
        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <!--设置连接池的最大连接数-->
        <property name="hibernate.c3p0.max_size">30</property>
        <!--设置连接池的最小连接数-->
        <property name="hibernate.c3p0.min_size">5</property>
        <!--设置连接池的初始连接数-->
        <property name="hibernate.c3p0.initialSize">5</property>
        <!--设置连接池的最大等待时间-->
        <property name="hibernate.c3p0.max_wait">1000</property>
        <!--设置连接池的最小等待时间-->
        <property name="hibernate.c3p0.min_wait">100</property>
        <!--设置连接池的空闲连接检测时间-->
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <!--设置连接池的空闲连接检测时间-->
        <property name="hibernate.c3p0.time_to_live">0</property>
        <!--两次连接中间间隔时间-->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <!--当前连接池中连接数耗尽后，一次同时获取的连接数-->
        <property name="hibernate.c3p0.acquire_retry_attempts">2</property>
        <!--设置连接池的等待超时时间-->
        <property name="hibernate.c3p0.acquire_retry_delay">1000</property>
        <!--设置session上下文，当前thread取到的session保证是一个session-->
        <property name="hibernate.current_session_context_class">thread</property>
        <!--根据需要自动创建表-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--设置将sql语句打印-->
        <property name="hibernate.show_sql">true</property>
        <!--设置格式化sql语句-->
        <property name="hibernate.format_sql">true</property>
        <!--添加映射文件，可以添加多个-->
        <mapping resource="Teachinfo.hbm.xml" />
    </session-factory>

</hibernate-configuration>